        body{
            margin:0;
        }
        .danh-muc{
            background-color:#198cf0;
        }
        .danh-sach-muc{
            padding:0;
            margin:0;
            /* bỏ dấu chấm ở danh sách khi dùng ul,li */
            list-style:none;
            display:flex;
            /* khoảng cách giữa các mục */
            gap: 20px;
        }
        .lien-ket{
            color:white;
            /* bỏ gạch chân */
            text-decoration:none;
        }
        .muc{
            gap: 10px;
        }

        main{
            display:flex;
        }
        .trai{
            width:20%;
            height:100vh;
            /* 3 tham số: độ dày, loại đường viền, màu sắc */
            border-right: 1px solid blue;
        }
        .phai{
            width:80%;
            height:auto;
        }
        .khoi-dang-nhap{
            width:100%;
            height:100px;
        }

        form{
            width:80%;
            margin:10px auto;
        }

        .khoi-thong-tin{
            width:100%;
            margin-bottom: 10px;
        }
        p{
            margin:0;
        }

        input{
            width:100%;
            padding: 5px 0;
            border-radius:5px;
        }

        .quen-mat-khau-lien-ket{
            color:#198cf0;
            display: flex;
            justify-content:flex-end;
        }

        button{
            width:100%;
            text-decoration: none;
            border-radius: 5px;
        }
        .login{
            margin-bottom:10px;
            background-color:#83c5ff;
        }
        .login-with-mco{
            background-color:#198cf0;
        }

        .tin{
            width: 95%;
            height:auto;
            margin:20px auto;
            border: 1px solid #198cf0;
            border-radius: 10px;
        }

        .chuc-nang{
            width: 95%;
            margin:10px auto;
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #198cf0;
        }

        .lien-ket-xem-tiep{
            display: flex;
            text-decoration:none;
            justify-content:flex-end;
            color:#198cf0;
            font-size:13px;
            
        }
        .danh-sach-bai{
            display:flex;
            justify-content:left;
            padding-left:20px;
        }

        .chi-tiet-bai{
            width:23%;
        }

        .img{
            width:100%;
            border-radius:20px;
        }

        .ngay-dang{
            display:flex;
            justify-content:end;
            margin-right:55px;
        }

        .tieu-de{
            margin:3px;
        }

        .line{
            display:flex;
            margin: 0px 0px 10px 10px;
        }

        .noi-dung-thong-bao{
            display:block;
            margin:5px;
        }

        .thong-bao{
            margin:5px;
        }

